<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT siteMap ANY>
<!ATTLIST siteMap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT forbiddenAcces ANY>
<!ATTLIST forbiddenAcces id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="2053" key="884f5c6c-fe25-483b-bb0f-7278308ee4c4" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-02-11T19:09:11" updateDate="2019-04-03T12:46:20" nodeName="Homepage" urlName="homepage" path="-1,2053" isDoc="" nodeType="1054" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1053" nodeTypeAlias="homepage" isPublished="true">
    <umbracoNaviHide>1</umbracoNaviHide>
    <siteTitle><![CDATA[AARHUS WEB DEVELOPMENT CORPORATION]]></siteTitle>
    <mainContent><![CDATA[<p><span>Condimentum risus nulla eget tincidunt lobortis. Aenean porta lectus quam nullam sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>]]></mainContent>
    <footer><![CDATA[footer]]></footer>
    <projectsOverview id="2055" key="3123b695-6459-4c30-9d24-47d4dc612166" parentID="2053" level="2" creatorID="0" sortOrder="1" createDate="2019-02-14T13:44:31" updateDate="2019-03-28T21:13:10" nodeName="Projects" urlName="projects" path="-1,2053,2055" isDoc="" nodeType="1058" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1057" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Check it out our cool projects</p>]]></projectsBodyText>
      <projectItem id="2059" key="a6be5467-d513-426b-8ec2-f4e143f79ca2" parentID="2055" level="3" creatorID="0" sortOrder="1" createDate="2019-02-14T19:37:37" updateDate="2019-03-08T13:35:05" nodeName="Movie night for coders" urlName="movie-night-for-coders" path="-1,2053,2055,2059" isDoc="" nodeType="1060" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1059" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, vestibulum accumsan elit, auctor a in gravida donec at venenatis. Sit turpis eget lorem non etiam morbi, consequatur viverra vitae, commodi viverra urna. Tempus scelerisque et. Lectus lacus, nec elit bibendum quis ac. Quis ut </span></p>]]></projectDescription>
        <projectTitle><![CDATA[International Web Developer Convention]]></projectTitle>
        <projectStatus>1023</projectStatus>
      </projectItem>
      <projectItem id="2073" key="423408b3-3330-4eb5-b956-3940180ee2cb" parentID="2055" level="3" creatorID="0" sortOrder="2" createDate="2019-02-15T15:03:04" updateDate="2019-03-28T19:23:52" nodeName="Be a part of our Web Developers Competition" urlName="be-a-part-of-our-web-developers-competition" path="-1,2053,2055,2073" isDoc="" nodeType="1060" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1059" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Lorem ipsum dolor sit amet, enim tincidunt eu vel varius ut. Risus proin, elit et, vestibulum tempor pellentesque sagittis, sodales ac nulla interdum fringilla suspendisse. Nam cras lorem velit, quis porta dapibus. Quis rutrum vestibulum fermentum vel, eget diam neque vel, feugiat molestie lacus tellus at, nulla cras vehicula faucibus volutpat in, rutrum turpis. Placerat adipiscing. Scelerisque aenean eu nullam commodo fusce. Ut blandit leo aliquam qui sit, egestas platea. Wisi facere a, ante orci nisl nibh, sed orci at velit quis.</span></p>]]></projectDescription>
        <projectTitle><![CDATA[Be a part of our Web Developers Competition!]]></projectTitle>
        <projectStatus>1023</projectStatus>
      </projectItem>
      <projectItem id="2074" key="03ad24cd-08b1-4e59-85d3-8bfac9b1174a" parentID="2055" level="3" creatorID="0" sortOrder="3" createDate="2019-02-15T15:03:56" updateDate="2019-02-21T20:45:34" nodeName="Creating new generation web app games" urlName="creating-new-generation-web-app-games" path="-1,2053,2055,2074" isDoc="" nodeType="1060" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1059" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>Erat pede, faucibus sed imperdiet pharetra augue pellentesque elit, suspendisse justo sit amet aliquam lectus, fringilla et. At habitasse tincidunt scelerisque dolor commodo. Elit volutpat consectetuer aenean tempor tristique auctor. Orci sollicitudin varius a. Molestie ligula libero ut, nunc amet ac tempus lacus mauris id, nunc feugiat amet facilisi eleifend. Faucibus ut praesent wis</span></p>]]></projectDescription>
        <projectTitle><![CDATA[Creating new generation web app games]]></projectTitle>
        <projectStatus>1023</projectStatus>
      </projectItem>
      <projectItem id="2075" key="dc2bc925-69f5-45ad-b5eb-55dc82ae3e33" parentID="2055" level="3" creatorID="0" sortOrder="4" createDate="2019-02-15T15:07:58" updateDate="2019-02-21T20:45:38" nodeName="Code Wars 2019" urlName="code-wars-2019" path="-1,2053,2055,2075" isDoc="" nodeType="1060" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1059" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p><span>diam neque vel, feugiat molestie lacus tellus at, nulla cras vehicula faucibus volutpat in, rutrum turpis. Placerat adipiscing. Scelerisque aenean eu nullam commodo fusce. Ut blandit leo aliquam qui sit, egestas platea. Wisi facere a, ante orci nisl nibh, sed orci at velit quis.</span></p>]]></projectDescription>
        <projectTitle><![CDATA[Code Wars 2019]]></projectTitle>
        <projectStatus>1023</projectStatus>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="2060" key="b4710c74-5023-4611-b614-c51e18f209bc" parentID="2053" level="2" creatorID="0" sortOrder="2" createDate="2019-02-14T19:38:49" updateDate="2019-02-21T11:53:47" nodeName="Articles" urlName="articles" path="-1,2053,2060" isDoc="" nodeType="1062" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1061" nodeTypeAlias="articlesOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, sapien mollis, eu rhoncus consectetuer suspendisse nunc a condimentum, laoreet consequat lacinia, in id dolor. Quam arcu erat suscipit dictum, tincidunt interdum fusce in vestibulum urna senectus, <img style="width: 500px; height: 500px;" src="/media/1001/49206732_2215659031798172_4139515060710014976_n.jpg?width=500&amp;height=500" alt="" data-udi="umb://media/68360919effe4b87bb6b1916ef555c44" /></span></p>]]></articleContent>
      <articleTitle><![CDATA[This article number]]></articleTitle>
      <articleItem id="2061" key="32b111aa-addc-483e-8b40-5e9976e16ca5" parentID="2060" level="3" creatorID="0" sortOrder="1" createDate="2019-02-14T19:39:02" updateDate="2019-03-01T10:48:42" nodeName="Web Developers Convention 2019" urlName="web-developers-convention-2019" path="-1,2053,2060,2061" isDoc="" nodeType="1064" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1063" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, sapien mollis, eu rhoncus consectetuer suspendisse nunc a condimentum, laoreet consequat lacinia, in id dolor. Quam arcu erat suscipit dictum, tincidunt interdum fusce in vestibulum urna senectus, posuere vel aliquam ornare non fusce, placerat amet. Tellus tincidunt etiam nam, risus bibendum venenatis sed pede pellentesque, feugiat etiam neque adipiscing, proin at duis mollis, molestie ut</span></p>]]></articleContent>
        <articleTitle><![CDATA[Web Developers Convention 2019!]]></articleTitle>
      </articleItem>
      <articleItem id="2071" key="077ef0ef-9c52-42fc-a5b9-ee52067b025e" parentID="2060" level="3" creatorID="0" sortOrder="2" createDate="2019-02-15T13:27:43" updateDate="2019-02-15T13:32:26" nodeName="Google launched new device" urlName="google-launched-new-device" path="-1,2053,2060,2071" isDoc="" nodeType="1064" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1063" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, sapien mollis, eu rhoncus consectetuer suspendisse nunc a condimentum, laoreet consequat lacinia, in id dolor. Quam arcu erat suscipit dictum, tincidunt interdum fusce in vestibulum urna senectus, posuere vel aliquam ornare non fusce, placerat amet. Tellus tincidunt etiam nam, risus bibendum venenatis sed pede pellentesque, feugiat etiam neque adipiscing, proin at duis mollis, molestie ut</span></p>]]></articleContent>
        <articleTitle><![CDATA[Google launched new device]]></articleTitle>
      </articleItem>
      <articleItem id="2072" key="4439b857-3c4e-429d-9cda-fde933917e65" parentID="2060" level="3" creatorID="0" sortOrder="3" createDate="2019-02-15T13:32:57" updateDate="2019-02-21T12:49:14" nodeName="Job hunt event" urlName="job-hunt-event" path="-1,2053,2060,2072" isDoc="" nodeType="1064" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="1063" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContent><![CDATA[<p><span>Lorem ipsum dolor sit amet, sapien mollis, eu rhoncus consectetuer suspendisse nunc a condimentum, laoreet consequat lacinia, in id dolor. Quam arcu erat suscipit dictum, tincidunt interdum fusce in vestibulum urna senectus, posuere vel aliquam ornare non fusce, placerat amet. Tellus tincidunt etiam nam, risus bibendum venenatis sed pede pellentesque, feugiat etiam neque adipiscing, proin at duis mollis, molestie ut</span></p>]]></articleContent>
        <articleTitle><![CDATA[Job hunt event]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <aboutUs id="2069" key="eb1a54a7-4aa9-4a01-9d37-34ab6ad5554b" parentID="2053" level="2" creatorID="0" sortOrder="3" createDate="2019-02-14T21:14:34" updateDate="2019-02-21T11:51:05" nodeName="About Us" urlName="about-us" path="-1,2053,2069" isDoc="" nodeType="2068" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="2070" nodeTypeAlias="aboutUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <visionPeopleAndSkills><![CDATA[{
  "name": "full width",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Get to know us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "9bbadf9a-4413-a14b-42a3-431598983491"
        },
        {
          "name": "three sections:visions, people, skills",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, tellus a. In turpis. Massa vestibulum lectus, et quis nibh. Quam euismod, lacinia sollicitudin curabitur. Quam nisl, potenti curabitur, morbi class. Luctus dui, praesent vel sagittis. Eget urna, et tristique. Penatibus enim vitae. Ut ut aenean. Dolor nisl libero, enim eget, hendrerit neque</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, tellus a. In turpis. Massa vestibulum lectus, et quis nibh. Quam euismod, lacinia sollicitudin curabitur. Quam nisl, potenti curabitur, morbi class. Luctus dui, praesent vel sagittis. Eget urna, et tristique. Penatibus enim vitae. Ut ut aenean. Dolor nisl libero, enim eget, hendrerit neque</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Lorem ipsum dolor sit amet, tellus a. In turpis. Massa vestibulum lectus, et quis nibh. Quam euismod, lacinia sollicitudin curabitur. Quam nisl, potenti curabitur, morbi class. Luctus dui, praesent vel sagittis. Eget urna, et tristique. Penatibus enim vitae. Ut ut aenean. Dolor nisl libero, enim eget, hendrerit neque</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "54a73c2e-3f4f-7ac4-f065-7da9cdbbd3c7"
        }
      ]
    }
  ]
}]]></visionPeopleAndSkills>
      <headline><![CDATA[{
  "name": "full width",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Three rows",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "126a29a5-c780-2ab8-0f8c-95779b921928"
        }
      ]
    }
  ]
}]]></headline>
    </aboutUs>
    <siteMap id="2078" key="09be8531-1729-4853-a84e-ae136d5e7802" parentID="2053" level="2" creatorID="0" sortOrder="4" createDate="2019-02-18T20:16:48" updateDate="2019-03-11T20:22:42" nodeName="Site Map" urlName="site-map" path="-1,2053,2078" isDoc="" nodeType="2077" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="2076" nodeTypeAlias="siteMap" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </siteMap>
    <contactPage id="2081" key="e59bb98e-e9c2-402e-bcb4-eb219c22af6d" parentID="2053" level="2" creatorID="0" sortOrder="5" createDate="2019-02-22T09:36:24" updateDate="2019-02-25T20:06:37" nodeName="Contact Us" urlName="contact-us" path="-1,2053,2081" isDoc="" nodeType="2080" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="2079" nodeTypeAlias="contactPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <message id="2084" key="862a7cca-63e5-43fe-abb9-d307a6add014" parentID="2081" level="3" creatorID="0" sortOrder="0" createDate="2019-02-25T20:11:22" updateDate="2019-02-25T21:03:51" nodeName="Messages" urlName="messages" path="-1,2053,2081,2084" isDoc="" nodeType="2082" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="0" nodeTypeAlias="message" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
      </message>
      <message id="2086" key="f3a185ec-9ac4-4c3d-a01b-3064d1fcd21c" parentID="2081" level="3" creatorID="0" sortOrder="2" createDate="2019-02-25T20:42:07" updateDate="2019-02-25T20:42:19" nodeName="Hello to you" urlName="hello-to-you" path="-1,2053,2081,2086" isDoc="" nodeType="2082" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="0" nodeTypeAlias="message" isPublished="true">
        <messagename><![CDATA[Vaiva Ignataviciute]]></messagename>
        <messagecontent><![CDATA[test 11]]></messagecontent>
        <subject><![CDATA[Hello to you]]></subject>
        <email><![CDATA[vaiva.ignataviciute17@gmail.com]]></email>
      </message>
    </contactPage>
    <login id="2097" key="d468d51c-f224-432e-93e9-a86ac73347da" parentID="2053" level="2" creatorID="0" sortOrder="6" createDate="2019-03-01T12:22:25" updateDate="2019-03-01T12:22:25" nodeName="Log in" urlName="log-in" path="-1,2053,2097" isDoc="" nodeType="2095" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="2094" nodeTypeAlias="login" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <forbiddenAcces id="2104" key="7f0d69bc-4db3-4ba6-b1fc-ca29abd76128" parentID="2053" level="2" creatorID="0" sortOrder="7" createDate="2019-03-08T13:53:05" updateDate="2019-03-08T13:53:05" nodeName="Forbidden Acces" urlName="forbidden-acces" path="-1,2053,2104" isDoc="" nodeType="2101" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="2103" nodeTypeAlias="forbiddenAcces" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </forbiddenAcces>
    <members id="2109" key="00ef9ebc-281c-4a06-a6ab-18d76262e62e" parentID="2053" level="2" creatorID="0" sortOrder="8" createDate="2019-03-10T16:45:16" updateDate="2019-03-10T16:45:16" nodeName="Members" urlName="members" path="-1,2053,2109" isDoc="" nodeType="2108" creatorName="Vaiva Ignataviciute" writerName="Vaiva Ignataviciute" writerID="0" template="2106" nodeTypeAlias="members" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
  </homepage>
</root>