@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectItem>

@{
	Layout = "Master.cshtml";
}


    <div class="p-4 "><h3 class="display-4">@Model.ProjectTitle"</h3></div>
   

      <div class="pl-4"><p>@Model.ProjectDescription"<p></div>
     
 